<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [204]:
import pandas as pd

In [205]:
gov_interest = pd.read_csv('government_interest.tsv', sep='\t')

In [206]:
gov_interest.head()

  patent_id                                       gi_statement
0  10000026  This invention was made with Government suppor...
1  10000036  STATEMENT REGARDING FEDERALLY SPONSORED RESEAR...
2  10000377  STATEMENT OF GOVERNMENTAL INTEREST This invent...
3  10000384  This invention was made with government suppor...
4  10000390  RIGHTS OF THE GOVERNMENT The invention describ...

In [207]:
patent = pd.read_csv('patent.tsv',sep='\t',error_bad_lines=False)

b'Skipping line 4505264: expected 11 fields, saw 12\n'
b'Skipping line 4540085: expected 11 fields, saw 12\nSkipping line 4570473: expected 11 fields, saw 12\n'
b'Skipping line 4610402: expected 11 fields, saw 12\nSkipping line 4652985: expected 11 fields, saw 12\n'
b'Skipping line 4662863: expected 11 fields, saw 12\n'

In [208]:
patent['date'] = pd.to_datetime(patent['date'], errors='coerce')

In [209]:
patent['year'] = patent['date'].dt.year

In [210]:
patent = patent.dropna(subset=['year'])

In [211]:
patent['year'] = patent['year'].astype(int)

In [212]:
patent = patent[(patent['year'] >= 2015) & (patent['year'] <= 2019)]

In [213]:
patent['year'].unique()

array([2018, 2019, 2015, 2016, 2017])

In [214]:
len(gov_interest)

139237

In [215]:
gov_interest['patent_id'].nunique()

139237

In [216]:
patent = patent.rename(columns={'id':'patent_id'})

In [217]:
patent_with_gov_interest = patent.merge(gov_interest,on='patent_id')

In [218]:
patent['patent_id'].nunique()

1427054

In [219]:
len(patent_with_gov_interest)

596

In [220]:
patent.head()

,patent_id,type,number,country,date,abstract,title,kind,num_claims,filename,withdrawn,year
0,10000000,utility,10000000,US,2018-06-19,A frequency modulated (coherent) laser detecti...,Coherent LADAR using intra-pixel quadrature de...,B2,20.0,ipg180619.xml,NaN,2018
1,10000001,utility,10000001,US,2018-06-19,The injection molding machine includes a fixed...,Injection molding machine and mold thickness c...,B2,12.0,ipg180619.xml,NaN,2018
2,10000002,utility,10000002,US,2018-06-19,The present invention relates to: a method for...,Method for manufacturing polymer film and co-e...,B2,9.0,ipg180619.xml,NaN,2018
3,10000003,utility,10000003,US,2018-06-19,The invention relates to a method for producin...,Method for producing a container from a thermo...,B2,18.0,ipg180619.xml,NaN,2018
4,10000004,utility,10000004,US,2018-06-19,The present invention relates to provides a do...,"Process of obtaining a double-oriented film, c...",B2,6.0,ipg180619.xml,NaN,2018

In [221]:
inventor = pd.read_csv('inventor.tsv',sep='\t',error_bad_lines=False,engine='python')

Skipping line 564715: '	' expected after '"'
Skipping line 816686: field larger than field limit (131072)
Skipping line 1014969: '	' expected after '"'
Skipping line 1086967: '	' expected after '"'
Skipping line 1115119: '	' expected after '"'
Skipping line 1135969: '	' expected after '"'
Skipping line 1164955: '	' expected after '"'
Skipping line 1194268: '	' expected after '"'
Skipping line 1585897: '	' expected after '"'
Skipping line 1655010: '	' expected after '"'
Skipping line 1663953: '	' expected after '"'
Skipping line 1669568: '	' expected after '"'
Skipping line 1714508: '	' expected after '"'
Skipping line 1734214: '	' expected after '"'
Skipping line 1741357: '	' expected after '"'
Skipping line 1773351: '	' expected after '"'
Skipping line 1790666: '	' expected after '"'
Skipping line 1797003: '	' expected after '"'
Skipping line 1860131: '	' expected after '"'
Skipping line 1869184: '	' expected after '"'
Skipping line 1894845: '	' expected after '"'
Skipping line 1897898: '	' expected after '"'
Skipping line 1924133: '	' expected after '"'
Skipping line 1928558: '	' expected after '"'
Skipping line 1935227: '	' expected after '"'
Skipping line 1941697: '	' expected after '"'
Skipping line 1943487: '	' expected after '"'
Skipping line 1960693: '	' expected after '"'
Skipping line 3599568: '	' expected after '"'
Skipping line 3599569: '	' expected after '"'
Skipping line 3634454: '	' expected after '"'
Skipping line 3653843: '	' expected after '"'
Skipping line 3656326: '	' expected after '"'
Skipping line 3656328: '	' expected after '"'

In [222]:
inventor.head()

           id name_first name_last
0   5073021-1  Joseph C.    Marron
1   7354823-3    Sun-Woo       Lee
2  10000001-2  Hyeon-Jae        Yu
3   7198843-1     Yun Jo       Kim
4   8307625-5     Si Min       Kim

In [223]:
patent_inventor = pd.read_csv('patent_inventor.tsv',sep='\t')

In [224]:
patent_inventor_with_gov_interest = patent_with_gov_interest.merge(patent_inventor,on='patent_id')

In [225]:
patent_inventor_with_gov_interest = patent_inventor_with_gov_interest[['patent_id','type','kind','year','gi_statement',
                                                                      'inventor_id']]

In [226]:
inventor = inventor.rename(columns={'id':'inventor_id'})

In [227]:
patent_inventor_names = patent_inventor_with_gov_interest.merge(inventor,on='inventor_id')

In [228]:
patent_inventor_names.head()

,patent_id,type,kind,year,gi_statement,inventor_id,name_first,name_last
0,9980635,utility,B2,2018,GOVERNMENT SUPPORT This invention was made wit...,9980635-1,Maria Eliana,Manquez Hatta
1,9980635,utility,B2,2018,GOVERNMENT SUPPORT This invention was made wit...,9980635-2,Humberto,Lobos Sucarrat
2,9980641,utility,B2,2018,NOTICE ON GOVERNMENT FUNDING This invention wa...,5321501-6,Joel S.,Schuman
3,9980641,utility,B2,2018,NOTICE ON GOVERNMENT FUNDING This invention wa...,9980641-1,Kira Lynn,Lathrop
4,9980641,utility,B2,2018,NOTICE ON GOVERNMENT FUNDING This invention wa...,9980641-3,Lawrence Edward,Kagemann

In [229]:
location = pd.read_csv('location-2.tsv',sep='\t')

In [230]:
location_assignee = pd.read_csv('location_assignee.tsv',sep='\t')
location_inventor = pd.read_csv('location_inventor.tsv',sep='\t')

In [231]:
patent_inventor_names_location = patent_inventor_names.merge(location_inventor,on='inventor_id')

In [232]:
location = location.rename(columns={'id':'location_id'})

In [233]:
patent_inventor_location = patent_inventor_names_location.merge(location, on='location_id')

In [234]:
patent_assignee = pd.read_csv('patent_assignee.tsv',sep='\t')

In [235]:
assignee = pd.read_csv('assignee.tsv',sep='\t')

In [236]:
assignee = assignee.rename(columns={'id':'assignee_id'})

In [237]:
patent_assignee_name = patent_assignee.merge(assignee,on='assignee_id')

In [238]:
patent_assignee_with_gov_interest = patent_assignee_name.merge(patent_with_gov_interest,on='patent_id')

In [239]:
patent_assignee_location = patent_assignee_with_gov_interest.merge(location_assignee,on='assignee_id')

In [240]:
location = pd.read_csv('location.tsv',sep='\t')

In [241]:
location = location.rename(columns={'id':'location_id'})

In [242]:
patent_assignee_location = patent_assignee_location.drop(columns='country')

In [243]:
patent_assignee_location_finalized = patent_assignee_location.merge(location, on='location_id')

In [244]:
patent_inventor_location = patent_inventor_location[['patent_id','year','inventor_id','name_first','name_last','city','state','country']]

In [245]:
patent_assignee_location = patent_assignee_location_finalized[['patent_id','year','organization','city','state','country']]

In [246]:
patent_assignee_location = patent_assignee_location.rename(columns={'city':'org_city','state':'org_state','country':'org_country'})

In [247]:
patent_assignee_location.head()

,patent_id,year,organization,org_city,org_state,org_country
0,9992413,2018,Raytheon Company,Lexington,MA,US
1,RE45718,2015,Boston Scientific Corporation,Lexington,MA,US
2,9992413,2018,Raytheon Company,Waltham,MA,US
3,9988932,2018,Honeywell International Inc.,Waltham,MA,US
4,9991578,2018,Honeywell International Inc.,Waltham,MA,US

In [198]:
patent_inventor_location = patent_inventor_location.rename(columns={'city':'inventor_city','state':'inventor_state',
                                                                   'country':'inventor_country'})

In [199]:
patent_inventor_location.head()

,patent_id,year,inventor_id,name_first,name_last,inventor_city,inventor_state,inventor_country
0,9980635,2018,9980635-1,Maria Eliana,Manquez Hatta,Santiago,NaN,CL
1,9980635,2018,9980635-1,Maria Eliana,Manquez Hatta,Santiago,NaN,CL
2,9980635,2018,9980635-2,Humberto,Lobos Sucarrat,Santiago,NaN,CL
3,9980635,2018,9980635-2,Humberto,Lobos Sucarrat,Santiago,NaN,CL
4,9999665,2018,8398993-2,Pablo A.,Gonzalez Munoz,Santiago,NaN,CL

In [201]:
patent_inventor_location = patent_inventor_location.drop_duplicates()

In [202]:
len(patent_inventor_location)

4841

In [203]:
patent_inventor_location.to_csv('patentsview_inventors.csv', index=False)

In [63]:
patent_assignee_location.to_csv('patentsview_assignees.csv', index=False)

In [161]:
patent_inventor_assignee = patent_inventor_location.merge(patent_assignee_location,on='patent_id')

In [162]:
patent_inventor_assignee['patent_id'].nunique()

585

In [164]:
patent_inventor_assignee.tail()

,patent_id,name_first,name_last,inventor_city,inventor_state,inventor_country,organization,org_city,org_state,org_country
363775,RE46716,T. Scott,Kennedy,East Boothbay,ME,US,"GROW TECH, INC.",Wilmington,DE,US
363776,RE46716,T. Scott,Kennedy,East Boothbay,ME,US,"GROW TECH, INC.",Wilmington,DE,US
363777,RE46716,T. Scott,Kennedy,East Boothbay,ME,US,"GROW TECH, INC.",Wilmington,DE,US
363778,RE46716,T. Scott,Kennedy,East Boothbay,ME,US,"GROW TECH, INC.",Wilmington,DE,US
363779,RE46716,T. Scott,Kennedy,East Boothbay,ME,US,"GROW TECH, INC.",Wilmington,DE,US

In [165]:
patent_inventor_assignee.head()

,patent_id,name_first,name_last,inventor_city,inventor_state,inventor_country,organization,org_city,org_state,org_country
0,9980635,Maria Eliana,Manquez Hatta,Santiago,NaN,CL,EYECARE S.A.,Santiago,NaN,CL
1,9980635,Maria Eliana,Manquez Hatta,Santiago,NaN,CL,EYECARE S.A.,Santiago,NaN,CL
2,9980635,Humberto,Lobos Sucarrat,Santiago,NaN,CL,EYECARE S.A.,Santiago,NaN,CL
3,9980635,Humberto,Lobos Sucarrat,Santiago,NaN,CL,EYECARE S.A.,Santiago,NaN,CL
4,9999665,Pablo A.,Gonzalez Munoz,Santiago,NaN,CL,Albert Einstein College of Medicine of Yeshiva...,New York,NY,US

In [70]:
grants = pd.read_csv('FedRePORTER_PRJ_C_FY2010.csv')

In [71]:
grants.columns

Index(['PROJECT_ID', ' PROJECT_TERMS', ' PROJECT_TITLE', ' DEPARTMENT',
       ' AGENCY', ' IC_CENTER', ' PROJECT_NUMBER', ' PROJECT_START_DATE',
       ' PROJECT_END_DATE', ' CONTACT_PI_PROJECT_LEADER', ' OTHER_PIS',
       ' CONGRESSIONAL_DISTRICT', ' DUNS_NUMBER', ' ORGANIZATION_NAME',
       ' ORGANIZATION_CITY', ' ORGANIZATION_STATE', ' ORGANIZATION_ZIP',
       ' ORGANIZATION_COUNTRY', ' BUDGET_START_DATE', ' BUDGET_END_DATE',
       ' CFDA_CODE', ' FY', ' FY_TOTAL_COST', ' FY_TOTAL_COST_SUB_PROJECTS'],
      dtype='object')

In [72]:
grants = grants[['PROJECT_ID', ' CONTACT_PI_PROJECT_LEADER', ' OTHER_PIS', ' ORGANIZATION_CITY',
                ' ORGANIZATION_STATE', ' ORGANIZATION_COUNTRY']]

In [73]:
grants.head()

,PROJECT_ID,CONTACT_PI_PROJECT_LEADER,OTHER_PIS,ORGANIZATION_CITY,ORGANIZATION_STATE,ORGANIZATION_COUNTRY
0,121219,"POIRER, DAVID",NaN,TUCSON,AZ,UNITED STATES
1,121220,"HEYWARD, ANN O",NaN,BROOK PARK,OH,UNITED STATES
2,121221,"KALOGERA, VASSILIKI","LUIJTEN, ERIK",EVANSTON,IL,UNITED STATES
3,121222,"GUILDERSON, THOMAS P",NaN,SANTA CRUZ,CA,UNITED STATES
4,121223,"HAYES, GILLIAN","TENTORI, MONICA",IRVINE,CA,UNITED STATES

In [76]:
grants.to_csv('fedreporter_pi_grants.csv', index=False)

In [ ]:
len(grants)

In [ ]:
len(grants)

In [98]:
patent_inventor_assignee.head()

,patent_id,name_first,name_last,organization,year
0,9980635,Maria Eliana,Manquez Hatta,EYECARE S.A.,2018
1,9980635,Humberto,Lobos Sucarrat,EYECARE S.A.,2018
2,9980641,Joel S.,Schuman,University of Pittsburghâ€”Of the Commonwealth...,2018
3,9980641,Kira Lynn,Lathrop,University of Pittsburghâ€”Of the Commonwealth...,2018
4,9980641,Lawrence Edward,Kagemann,University of Pittsburghâ€”Of the Commonwealth...,2018

In [ ]:
grants.head()