In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Data/patent_grants_rcdc.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94710 entries, 0 to 94709
Data columns (total 5 columns):
Unnamed: 0      94710 non-null int64
PROJECT_ID      94710 non-null object
Category        94710 non-null object
PATENT_ID       94710 non-null object
mainclass_id    94710 non-null object
dtypes: int64(1), object(4)
memory usage: 3.6+ MB

In [3]:
patents = df.pivot_table(index='PATENT_ID', columns='mainclass_id').fillna(0)
patents.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2140 entries, 4035566 to D309496
Columns: 115 entries, (Unnamed: 0, 106) to (Unnamed: 0, D23)
dtypes: float64(115)
memory usage: 1.9+ MB

In [4]:
patents = patents > 0

In [5]:
patents.columns = patents.columns.droplevel(0)
patents.head()

mainclass_id,106,128,137,165,204,210,23,239,244,250,...,717,73,800,850,860,930,935,96,977,D23
PATENT_ID,,,,,,,,,,,,,,,,,,,,,
4035566,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4349528,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4487829,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4539205,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4542225,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [6]:
projects = df.pivot_table(index='PROJECT_ID', columns='Category').fillna(0)
projects = projects > 0

In [7]:
projects.columns = projects.columns.droplevel(0)
projects.head()

Category,ALS,Acquired Cognitive Impairment,Acute Respiratory Distress Syndrome,Adolescent Sexual Activity,Aging,"Alcoholism, Alcohol Use and Health",Alzheimer's Disease,Alzheimer's Disease Related Dementias (ADRD),Alzheimer's Disease including Alzheimer's Disease Related Dementias (AD/ADRD),American Indian or Alaska Native,...,Underage Drinking,Underage Drinking - Prevention and Treatment (NIAAA Only),Urologic Diseases,Usher Syndrome,Uterine Cancer,Vaccine Related,Vaccine Related (AIDS),Vascular Cognitive Impairment/Dementia,Vector-Borne Diseases,West Nile Virus
PROJECT_ID,,,,,,,,,,,,,,,,,,,,,
K12CA087723,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
K12HD000850,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
K12HD001441,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
K12HD028820,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
K12HD028827,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [8]:
df_matches = df.groupby(['PATENT_ID', 'PROJECT_ID']).size().rename('freq').reset_index()

In [9]:
df_matches.head()

  PATENT_ID   PROJECT_ID  freq
0   4035566  P30CA006516   184
1   4349528  P30CA010815    18
2   4487829  P30CA014051   100
3   4539205  T32AI007007     3
4   4542225  P30CA006516    92

In [10]:
patents.shape[0], projects.shape[0]

(2140, 775)

In [11]:
type(df['PATENT_ID'].unique().tolist())

list

In [12]:
import itertools

In [13]:
# full list of possibilities
pat_proj = list(itertools.product(df['PATENT_ID'].unique().tolist(), df['PROJECT_ID'].unique().tolist()))

In [14]:
len(pat_proj)

1658500

In [29]:
ml_df = pd.DataFrame(columns=['PATENT_ID', 'PROJECT_ID'], data=pat_proj)
ml_df.shape

(1658500, 2)

In [30]:
ml_df.head()

  PATENT_ID   PROJECT_ID
0   7838231  R01DK068306
1   7838231  R01DK059597
2   7838231  R01DK058816
3   7838231  R01AI055058
4   7838231  P30ES005605

In [31]:
ml_df = pd.merge(ml_df, patents, left_on='PATENT_ID', right_index=True)

In [32]:
ml_df.head()

,PATENT_ID,PROJECT_ID,106,128,137,165,204,210,23,239,...,717,73,800,850,860,930,935,96,977,D23
0,7838231,R01DK068306,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,7838231,R01DK059597,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,7838231,R01DK058816,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,7838231,R01AI055058,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,7838231,P30ES005605,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [33]:
ml_df = pd.merge(ml_df, projects, left_on='PROJECT_ID', right_index=True)

In [34]:
ml_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1658500 entries, 0 to 1658499
Columns: 328 entries, PATENT_ID to West Nile Virus
dtypes: bool(326), object(2)
memory usage: 553.6+ MB

In [35]:
ml_df.shape

(1658500, 328)

In [36]:
ml_df = pd.merge(ml_df, df_matches, left_on=['PATENT_ID', 'PROJECT_ID'], 
                 right_on=['PATENT_ID', 'PROJECT_ID'], how='left')

In [37]:
ml_df.shape

(1658500, 329)

In [38]:
ml_df['freq'].fillna(0, inplace=True)
ml_df['freq'].describe()

count    1.658500e+06
mean     5.710582e-02
std      3.072466e+00
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      7.620000e+02
Name: freq, dtype: float64

In [39]:
ml_df['label'] = ml_df['freq'] > 0

In [40]:
ml_df['label'].value_counts()

False    1656182
True        2318
Name: label, dtype: int64

In [41]:
ml_df[['PATENT_ID', 'PROJECT_ID', '128', 'Epilepsy', 'freq', 'label']].head()

  PATENT_ID   PROJECT_ID    128  Epilepsy  freq  label
0   7838231  R01DK068306  False     False   8.0   True
1   8323916  R01DK068306  False     False   0.0  False
2   8642046  R01DK068306  False     False   0.0  False
3   7141367  R01DK068306  False     False   0.0  False
4   7498151  R01DK068306  False     False   0.0  False

In [42]:
ml_df.to_csv('../Data/ML_sample_data.csv', index=False)

In [43]:
ml_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1658500 entries, 0 to 1658499
Columns: 330 entries, PATENT_ID to label
dtypes: bool(327), float64(1), object(2)
memory usage: 567.8+ MB